<h1>User Registration</h1>

<form method="POST">
  <label for="username">Username:</label><br>
  <input type="text" id="name" name="name"><br>

  <label for="offense">Offense or Defense:</label><br>
  <input type="text" id="offense" name="offense"><br>

  <label for="passrun">Pass or Run:</label><br>
  <input type="text" id="passrun" name="passrun"><br>

  <label for="hometown">Team Abbreviation:</label><br>
  <input type="text" id="hometown" name="hometown"><br>

  <input type="submit" value="Submit">

</form> 

<form action="/admin">
  <input type="submit" value="Enter as Admin"/>
</form>